.wrapPage{
    
    width: 100%;
    height: auto;
}
.imageApi{
    margin-top: 70px;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.logoApi{
  margin-top: 10px;
    width: 100%;
    height: auto;
   
}
.titleApi{
    margin: 0;
    margin-bottom: 10%;
    align-items: center;
    text-align: center;
    color: rgb(251, 192, 45);
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapCards{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
gap: 3rem;
padding-bottom: 3rem;}
